language: php

php:
  - 5.5
  - 5.6

before_install:
  - composer self-update
  - composer validate

install:
  - composer install --prefer-source --no-interaction

script:
  - vendor/bin/phpspec run
